.feedback-form__placeholder
  display: none
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: rgba(0,0,0,.6)
  z-index: 11
.feedback-form
  display: none
  height: 100%
  width: 100%
  position: fixed
  z-index: 12
  &__block
    margin: auto
    max-width: 541px
    width: 100%
    position: relative
  &__block-close
    right: 10px
    top: 15px
    position: absolute
    height: 14px
    width: 14px
    cursor: pointer
    &::after,
    &::before
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 1px
      background-color: #292929
      transform: background-color 0.25s ease
    &::after
      transform: rotate(45deg)
    &::before
      transform: rotate(-45deg)
    &:hover
      &::after,
      &::before
        background-color: #98c200
  form
    display: block
    width: 100%
  &__block-title
    color: #000000
    font-family: "Akrobat - Extra Bold"
    font-size: 28px
    font-weight: 400
    letter-spacing: 0.1px
    text-align: center
    background-color: $white
    border-radius: 5px 5px 0 0
    padding: 20px 0
  &__main-block
    text-align: center
    background-color: rgba(41,41,41,0.9)
    border-radius: 0 0 5px 5px
    padding-top: 30px
    padding-bottom: 14px
  label
    display: block
    text-align: right
    margin-right: 30px
    width: 30%
    color: #fefdfe
    font-family: "Akrobat"
    font-size: 24px
    font-weight: 400
    letter-spacing: 0.24px
  &__block-submit
    > input
      cursor: pointer
      max-width: 160px
      width: 100%
      height: 26px
      border-radius: 5px
      background-color: #98c200
      color: #000000
      font-family: Akrobat
      font-size: 17px
      font-weight: 500
      transition: background-color 0.25s ease
      &:hover
        background-color: $white
  &__block-field
    display: flex
    margin-bottom: 25px
    > input
      padding-left: 10px
      font-size: 14px
      width: 100%
      width: 255px
      height: 27px
      border-radius: 4px
      background-color: #ffffff
