.feedback-form__placeholder
    display: none
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: rgba(0,0,0,.5)
    z-index: 11

.feedback-form-sucesses
  display: none
  height: 100%
  width: 100%
  position: fixed
  z-index: 12
  &__block
    margin: auto
    max-width: 541px
    width: 100%
    position: relative
    text-align: center
  form
    padding: 19px 0
    display: block
    width: 100%
    border-radius: 5px
    background-color: rgba(41,41,41,0.9)
  &__block-close
    right: 10px
    top: 15px
    position: absolute
    height: 14px
    width: 14px
    cursor: pointer
    &::after,
    &::before
      content: ''
      position: absolute
      display: block
      width: 100%
      height: 1px
      background-color: #fff
      transform: background-color 0.25s ease
    &::after
      transform: rotate(45deg)
    &::before
      transform: rotate(-45deg)
    &:hover
      &::after,
      &::before
        background-color: #98c200
  &__main-block-content
    color: #ffffff
    font-family: "Akrobat - Extra Bold"
    font-size: 28px
    font-weight: 400
    letter-spacing: 0.1px
    margin-bottom: 39px
  &__block-submit
    padding-bottom: 21px
    > input
      cursor: pointer
      max-width: 160px
      width: 100%
      height: 26px
      border-radius: 5px
      background-color: #98c200
      color: #000000
      font-family: Akrobat
      font-size: 17px
      font-weight: 500
      transition: background-color 0.25s ease
      &:hover
        background-color: $white
