.questions
  display: none
  width: 100%
  height: 100%
  position: fixed
  z-index: 12
  .range-slider-block
    position: relative
    &::before
      content: attr(data-slider-min)
      display: block
      position: absolute
      top: -7px
      left: -12px
      color: #000000
      font-family: "Akrobat - Extra Bold"
      font-size: 23px
      font-weight: 400
      +media-breakpoint-down(xs)
        display: none
    &::after
      content: attr(data-slider-max)
      display: block
      position: absolute
      top: -7px
      right: -12px
      width: 9px
      height: 17px
      color: #000000
      font-family: "Akrobat - Extra Bold"
      font-size: 23px
      font-weight: 400
      +media-breakpoint-down(xs)
        display: none
  .min-slider-handle
    &:before
      content: attr(aria-valuenow)
      position: absolute
      top: 10px
      left: -50%
      color: #000000
      font-family: "Akrobat - Extra Bold"
      font-size: 23px
      font-weight: 400
  .max-slider-handle
    &:before
      content: attr(aria-valuenow)
      position: absolute
      top: 10px
      left: -50%
      color: #000000
      font-family: "Akrobat - Extra Bold"
      font-size: 23px
      font-weight: 400
  &__close
    width: 14px
    height: 14px
    position: absolute
    top: 20px
    right: 20px
    cursor: pointer
    &::after,
    &::before
      top: 50%
      content: ''
      display: block
      position: absolute
      width: 100%
      height: 1px
      background-color: #000
      transition: all 0.25 ease
    &::after
      transform: rotate(45deg)
    &::before
      transform: rotate(-45deg)
    &:hover
      &::after,
      &::before
        background-color: #98c200
  &__content
    margin: auto
    +media-breakpoint-down(xs)
      margin: 0
      overflow: auto
    width: 100%
    max-width: 730px
    background-color: #fff
    display: flex
    flex-direction: column
    padding: 20px 80px
    +media-breakpoint-down(xs)
      padding: 20px 20px
    position: relative
  &__title
    color: #000000
    font-family: "Akrobat"
    font-size: 16px
    font-weight: 300
    margin-bottom: 3px
  &__question
    color: #000000
    font-family: "Akrobat - Extra Bold"
    font-size: 30px
    line-height: 1
    font-weight: 400
    margin-bottom: 20px
    +media-breakpoint-down(xs)
      font-size: 20px
  .progress
    margin-bottom: 10px
  .slider-title
    text-align: center
    color: #000000
    font-family: "Akrobat"
    font-size: 24px
    font-weight: 300
    margin-top: 25px
    margin-bottom: 30px
    +media-breakpoint-down(xs)
      font-size: 18px
  .slider.slider-horizontal
    width: 100%
  .slider-track-high,
  .slider-track-low
    border-radius: 5px
    background-color: #000000
  .slider-handle
    background-color: #fff
    background-image: none
    border: 1px solid #000
    width: 15px
    height: 15px
    top: calc(50% - (16px / 2))
  .slider-selection
    background-color: #98c200
    background-image: none
  .progress-bar.progress-bar-striped
    border-radius: 5px !important
    background-image: linear-gradient(-45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important
  .progress_bar__sub
    color: #000000
    font-family: "Akrobat"
    font-size: 12px
    font-weight: 300
    margin-bottom: 30px
  #nextBtn
    max-width: 270px
    width: 100%
    height: 60px
    border: 1px solid #000000
    border-radius: 5px
    background-color: #000
    color: #fff
    font-family: "Akrobat"
    font-size: 24px
    font-weight: 300
    letter-spacing: 2.4px
    cursor: pointer
    transition: all 0.25s ease
    +media-breakpoint-down(xs)
      max-width: 100%
      height: 50px
      margin-bottom: 5px
    &:hover
      color: #fff
      border: 1px solid #98c200
      background-color: #98c200
  #prevBtn
    max-width: 270px
    width: 100%
    height: 60px
    border: 1px solid #000000
    border-radius: 5px
    background-color: #fff
    color: #000
    font-family: "Akrobat"
    font-size: 24px
    font-weight: 300
    letter-spacing: 2.4px
    cursor: pointer
    transition: all 0.25s ease
    +media-breakpoint-down(xs)
      max-width: 100%
      height: 50px
      margin-bottom: 5px
    &:hover
      color: #fff
      background-color: #000
  #nextBtn
    float: left
  #nextBtn
    float: right
  .bg-success
    background-color: #98c200 !important
  .footer-block__button
    margin-top: 30px
  input
    width: 100%
    height: 40px
    border-radius: 5px
    border: 3px solid #000
    color: #000000
    font-family: "Akrobat"
    font-size: 24px
    font-weight: 300
    letter-spacing: 2.4px
    padding-left: 17px
    &:focus
      border: 3px solid #98c200
    &:invalid
      border: 3px solid red

  input[type="radio"]
    width: 20px
    height: 20px
    position: relative
    cursor: pointer
    &::after
      content: ''
      position: absolute
      display: block
      top: calc(50% - 10px)
      left: calc(50% - 10px)
      width: 20px
      height: 20px
      background-color: #fff
      border: 1px solid #000
      border-radius: 50%
    &:checked
      &::before
        content: ''
        position: absolute
        display: block
        top: calc(50% - 7px)
        left: calc(50% - 7px)
        width: 14px
        height: 14px
        background-color: #98c200
        border-radius: 50%
        z-index: 1

  .form-field
    cursor: pointer
    width: calc(50% - 15px)
    +media-breakpoint-down(xs)
      width: 100%
    display: flex
    color: #000000
    font-family: "Akrobat"
    font-size: 14px
    font-weight: 300
    letter-spacing: 1.4px
    position: relative
    border-radius: 5px
    padding: 5px 14px
    border: 1px solid #000000
    margin-bottom: 7px
    float: left
    &:nth-child(even)
      margin-left: 15px
      +media-breakpoint-down(xs)
        margin-left: 0
    &:nth-child(odd)
      margin-right: 15px
      +media-breakpoint-down(xs)
        margin-right: 0
    label
      margin: 0
      padding-left: 17px
      cursor: pointer
  .finish-form
    display: flex
    flex-wrap: wrap
    flex-grow: 1
    align-items: center
    label,
    input
      flex: 0 0 50%
      margin-bottom: 10px
      +media-breakpoint-down(xs)
        flex: 0 0 100%
    label
      color: #000000
      font-family: "Akrobat"
      font-size: 24px
      +media-breakpoint-down(xs)
        font-size: 16px
      font-weight: 300
      letter-spacing: 2.4px
  .finish-sale
    margin-bottom: 20px
    flex: 0 0 100%
    text-align: center
    color: #000000
    font-family: "Akrobat - Extra Bold"
    font-size: 24px
    +media-breakpoint-down(xs)
      font-size: 16px
    font-weight: 400
    letter-spacing: 2.4px
    > span
      color: #98c200
      margin-left: 71px
  .raschet
    margin-top: 7px
    flex: 0 0 100%
    text-align: center
    color: #000000
    font-family: "Akrobat"
    font-size: 24px
    +media-breakpoint-down(xs)
      font-size: 16px
    font-weight: 300
    letter-spacing: 2.4px
