@import "vars"
@import "fonts"
@import "libs"
@import "../sass/_mixins/_keyframes.sass"
@import "../sass/_feeback-form.sass"
@import "../sass/_feeback-form-sucesses.sass"
@import "../sass/_question.sass"

*
	padding: 0
	margin: 0
	box-sizing:border-box
	outline: none !important

ul
	list-style: none
	margin: 0
	padding: 0

a:hover
	text-decoration: none !important
	color: #fff
::placeholder
	color: #666

::selection
	background-color: #fff
	color: #fff
html
	font-size: 10px
	+media-breakpoint-down(md)
		font-size: 8px
body
	font-size: 1.6rem
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.site-header
	//background: url("../img/main-bg.png") no-repeat center center
	//background-size: cover
	height: 100vh
	position: relative
	#video-background
		position: absolute
		right: 0
		bottom: 0
		min-width: 100%
		min-height: 100%
		width: auto
		height: auto
		z-index: -100
	&__menu
		position: fixed
		width: 100%
		background-color: rgba(26, 26, 26,.8)
		padding: 12px 0
		z-index: 10
		opacity: 1 !important
	&__menu-info-phone
		display: flex
		align-items: center
		+media-breakpoint-down(xs)
				display: none
		a
			color: #ffffff
			font-family: "Akrobat"
			font-size: 2rem
			font-weight: 300
			line-height: 24.4px
			letter-spacing: 1.99px
			margin-left: 1.4rem
			margin-right: 4rem
			&:hover
				color: #ffffff
	&__menu-logo
		+media-breakpoint-down(xs)
			img
				max-width: 130px
	&__menu-info
		display: flex
		align-items: center
		justify-content: flex-end
		+media-breakpoint-down(xs)
			margin-top: 10px
	&__block-title
		color: #ffffff
		font-family: "Akrobat - Extra Bold"
		font-size: 48px
		font-weight: 400
		line-height: 72px
		width: 100%
		overflow: hidden
		position: relative
		height: 72px
		display: flex
		justify-content: center
		+media-breakpoint-down(sm)
			flex-direction: column
			align-items: center
			height: auto
			ul
				// display: flex
				overflow: hidden

		li
			color: #98c200
			animation-name: change
			animation-duration: 10s
			animation-iteration-count: infinite

	&__block-button
		width: 100%
		max-width: 350px
		margin-top: 15%
		a
			border-radius: 5px
			background-color: #1a1a1a
			height: 6rem
			display: flex
			align-items: center
			justify-content: center
			color: #ffffff
			font-family: "Akrobat"
			font-size: 2.4rem
			font-weight: 300
			line-height: 69.57px
			letter-spacing: 2.4px
			transition: all .25s ease
			&:hover
				background-color: #98c200
				color: #fff
	&__block-child
		height: 100vh
		display: flex
		align-items: center
		flex-direction: column
		justify-content: center
.about
	padding: 75px 0
	&__block
		color: #000000
		font-family: "Akrobat - Thin"
		font-size: 3rem
		font-weight: 400
		text-align: center
		width: 93%
		> span
			font-family: "Akrobat"
			font-weight: 700
		+media-breakpoint-down(sm)
			> br
				display: none
.sentence
	background: url("../img/sentence-bg.png") no-repeat center center
	background-size: cover
	text-align: center
	padding: 13rem 0
	&__block-text
		color: #ffffff
		font-family: "Akrobat"
		font-size: 2.4rem
		font-weight: 300
		margin-top: 57px
	&__block-title
		color: #ffffff
		font-family: "Akrobat"
		font-size: 3.6rem
		font-weight: 700
		line-height: 72px
.showreel
	background: transparent
	position: relative
	overflow: hidden
	// +media-breakpoint-down(sm)
	// 	display: none
	&-iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: -100
	img
		width: 100%
		opacity: 1
		transition: all 0.5s ease
		z-index: 1
		
	.play
		cursor: pointer
		position: absolute
		width: 100%
		height: 100%
		top: 0
		display: block
		background-size: 80px

		opacity: 0
		transition: all 0.25s ease
		
		a
			display: block
			height: 100%
	&:hover
		img
			opacity: 0
		.play
			opacity: 1
.case
	&__block-title
		color: #000000
		font-family: "Akrobat - Extra Bold"
		font-size: 4.8rem
		font-weight: 400
		line-height: 72px
		text-align: center
		padding: 2.5rem
		overflow: hidden
	&__block
		display: flex
		flex-wrap: wrap
		color: #ffffff
		font-family: "Akrobat"
		font-size: 3.2rem
		font-weight: 300
		line-height: 94.02px

	&__block-content-list
		text-align: center
		color: #ffffff
		font-family: "Akrobat"
		font-size: 1.8rem
		font-weight: 300
		line-height: 20px
		letter-spacing: 1.33px

	&__block-content-list
		overflow: hidden
		height: 0
		transition: 1s

	&__block-content
		width: calc(100%/3)
		+media-breakpoint-down(sm)
			width: calc(100%/2)
		+media-breakpoint-down(xs)
			width: calc(100%/1)
		min-height: 457px
		+media-breakpoint-down(xl)
			min-height: 257px
		@media(min-width: 1440px)
			min-height: 400px
		align-items: center
		display: flex
		flex-direction: column
		justify-content: center
		position: relative
		cursor: pointer
		overflow: hidden
		a
			position: absolute
			display: block
			width: 100%
			height: 100%
		img
			position: absolute
			display: block
			min-width: 100%
			height: 100%
			z-index: -1
			transition: all 0.5s
		span
			display: block
			position: relative
			transition: all 0.5s
			&::after
				content: ''
				position: absolute
				display: block
				width: 100%
				height: 4px
				background: #c1da65
				transform: scale(0)
				transition: all 0.5s
		&:hover
			img
				filter: grayscale(100%)
			span
				margin-bottom: 20px
				&::after
					transform: scale(1)
			.case__block-content-list
				height: 110px


	&__block-button
		padding: 40px
		margin: 0 auto
		max-width: 35rem
		text-align: center
		a
			border-radius: 5px
			background-color: #000000
			height: 6rem
			display: flex
			color: #ffffff
			font-family: "Akrobat"
			font-size: 2.4rem
			font-weight: 300
			line-height: 69.57px
			letter-spacing: 2.4px
			justify-content: center
			align-items: center
			transition: all .25s ease
			&:hover
				background-color: #98c200
				color: #fff
.help
	background: url("../img/help-bg.jpg") no-repeat center center
	background-size: cover
	padding-top: 2rem
	padding-bottom: 4rem
	&__question
		color: #ffffff
		font-family: "Akrobat - Extra Bold"
		font-size: 5rem
		font-weight: 400
		line-height: 45px
		text-align: center
		margin-bottom: 4.5rem
	&__questionnaire
		display: flex
		align-items: center
		flex-wrap: wrap
		justify-content: space-between
		+media-breakpoint-down(xs)
			justify-content: center

	&__questionnaire-text
		color: #ffffff
		font-family: "Akrobat"
		font-size: 2.8rem
		font-weight: 300
		line-height: 75.27px
	&__questionnaire-button
		width: 100%
		max-width: 35rem
		text-align: center
		a
			color: #000000
			height: 6rem
			border-radius: 5px
			background-color: #ffffff
			font-family: "Akrobat"
			font-size: 2.4rem
			font-weight: 300
			line-height: 69.57px
			letter-spacing: 2.4px
			display: flex
			align-items: center
			justify-content: center
			transition: all .25s ease
			&:hover
				color: #000000
				background-color: #98c200
.group
	padding: 2rem
	&__block
		img
			filter: grayscale(100%)
			max-width: 100px
			max-height: 80px
			transition: all 0.25s ease
			cursor: pointer
			+media-breakpoint-down(xs)
				max-width: 85px
			&:hover
				filter: grayscale(0)
	.owl-stage
		display: flex
		align-items: center
		flex-wrap: wrap
.site-footer
	+media-breakpoint-down(sm)
		background: url("../img/footer-bg.jpg") no-repeat center right
		background-size: cover
	overflow: hidden
	position: relative
	height: 100vh
	> img
		width: 120%
		+media-breakpoint-down(sm)
			height: 100%
			display: none
		bottom: 0
		position: absolute
		z-index: -1
	&__title
		color: #ffffff
		font-family: "Akrobat - Extra Bold"
		font-size: 5rem
		font-weight: 400
		line-height: 45px
		text-align: center
		margin-top: 40px
		display: flex
		align-items: center
		justify-content: center
		z-index: 6
	&__info
		text-align: right
		height: 85vh
		display: flex
		justify-content: center
		align-items: center
	&__info-text
		color: #ffffff
		font-family: "Akrobat"
		font-size: 2.8rem
		font-weight: 300
		margin-bottom: 3rem
	&__info-phone
		flex-direction: column
		display: flex
		margin-bottom: 3rem
		a
			color: #ffffff
			font-family: "Akrobat - Thin"
			font-weight: 300
			font-size: 2.8rem
			&:hover
				color: #fff
	&__info-button
		width: 100%
		a
			height: 6rem
			border-radius: 5px
			background-color: #ffffff
			color: #010101
			font-family: "Akrobat"
			font-size: 2.4rem
			font-weight: 300
			line-height: 69.57px
			letter-spacing: 2.4px
			display: flex
			text-align: center
			align-items: center
			justify-content: center
			transition: all .25s ease
			&:hover
				background-color: #98c200
				color: #fff
	&__info-social
		display: flex
		justify-content: flex-end
		margin-top: 30px
		.vk,
		.insta
			display: block
			width: 64px
			height: 64px
			margin-left: 20px
			transition: 0.25s ease
		.vk
			background: url("../img/footer-vk-hover.png") no-repeat center center
			&:hover
				background: url("../img/footer-vk.png") no-repeat center center
		.insta
			background: url("../img/footer-insta-hover.png") no-repeat center center
			&:hover
				background: url("../img/footer-insta.png") no-repeat center center
.team
	background: url("../img/team-bg.png") no-repeat center center
	background-size: cover
	padding-top: 3rem
	padding-bottom: 4rem
	&__title
		color: #ffffff
		font-family: "Akrobat - Extra Bold"
		font-size: 5rem
		font-weight: 400
		line-height: 72px
		text-align: center
		margin-bottom: 3rem
	&__people-block
		position: relative
		margin-bottom: 30px
		cursor: pointer
		background-color: #000000
		&:hover
			img
				opacity: 1
				filter: grayscale(0)
	&__people-block-text
		position: absolute
		width: 100%
		flex-direction: column
		bottom: 0
		right: 5px
		display: flex
		flex-direction: column
		align-items: flex-end
	&__people-block-text-name
		border-bottom: 2px solid #c1da65
		width: 100px
		color: #ffffff
		font-family: "Akrobat"
		font-size: 2.4rem
		font-weight: 400
	&__people-block-text-position
		padding-top: 15px
		color: #ffffff
		font-family: "Akrobat - Thin"
		font-size: 2.4rem
		font-weight: 100
		+media-breakpoint-down(xs)
			font-size: 2rem
	&__people
		text-align: right
		img
			opacity: 0.7
			width: 100%
			filter: grayscale(100%)
			transition: all 0.8s

// Burger
.site-header-burger-content
	display: none
	padding-top: 2rem
	position: absolute
	top: calc(100% + (12px))
	right: 0
	width: 100%
	max-width: 320px
	background-color: rgba(26, 26, 26,.8)
	text-align: center
	height: 85vh
	+media-breakpoint-down(xs)
		max-width: 100%
		right: 0
		height: 100vh
	z-index: 9999
	a
		display: block
		color: #ffffff
		font-family: "Akrobat"
		font-size: 2.8rem
		font-weight: 400
		letter-spacing: 0.7px
		line-height: 6rem
		&:hover
			color: #98c200
	.site-footer__info-social
		justify-content: center
	li.active
		a
			color: #98c200

+keyframes(title)
	0%
		top: 100%
	100%
		top: 0

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
	background-color: #ffffff
	width: 30px

.hamburger
	padding: 0
	opacity: 1
	&:hover
		opacity: 1

.hamburger-box
	width: 30px

.sentence
    background: url(../img/sentence-bg.jpg) no-repeat center center
    -webkit-background-size: cover
    background-size: cover
    text-align: center
    padding: 3rem 0

.sentence__block-text
    color: #fff
    font-family: Akrobat
    font-size: 2.4rem
    font-weight: 300
    margin-top: 5px

.sentence__block-title
    color: #fff
    font-family: Akrobat
    font-size: 3.6rem
    font-weight: 700
    line-height: 72px

+keyframes(change)
	0%, 12.66%, 100%
		transform: translate3d(0,0,0)
	16.66%, 29.32%
		transform: translate3d(0,-100%,0)
	33.32%,45.98%
		transform: translate3d(0,-200%,0)
	49.98%,62.64%
		transform: translate3d(0,-100%,0)
	66.64%,79.3%
		transform: translate3d(0,0,0)


@import "works"
@import "media" // Always at the end
