@import "vars"
@import "fonts"
@import "libs"
@import "./_mixins/_keyframes.sass"

.works
	.site-header
		background: url(../img/works-bg.jpg) no-repeat center center
		background-size: cover
		background-attachment: fixed
		background-position-y: -200px
		height: 70vh

		&__block-child
			height: 100%
	.site-footer
		background: url(../img/work-bg-footer.png) no-repeat center center
		background-size: cover
		height: auto

		&-button
			padding: 5rem
			a
				display: flex
				justify-content: center
				align-items: center
				border-radius: 5px
				background-color: #98c200
				color: #000000
				font-family: Akrobat
				font-size: 2.4rem
				font-weight: 300
				line-height: 69.57px
				letter-spacing: 2.4px
				max-width: 350px
				margin: 0 auto
				transition: all .25s ease
				&:hover
					background-color: #fff
	.work-full
		padding-top: 3.9rem
		padding-bottom: 6.8rem
		&__block
			width: 100%
			display: flex
			flex-direction: column

		.nav-pills
			display: flex
			justify-content: space-around
			flex-wrap: wrap
			+media-breakpoint-down(xs)
				justify-content: flex-start
			.nav-item
				+media-breakpoint-down(xs)
					width: calc(100% / 3)
			.nav-link
				color: #000000
				font-family: "Akrobat"
				font-size: 2.4rem
				font-weight: 300
				border-bottom: 3px solid transparent
				padding: 0
				margin-bottom: 3.8rem
				transition: all 0.25s ease
				&.active
					background: none
					border-bottom: 3px solid #8fb603
					+media-breakpoint-down(xs)
						color: #8fb603
						border-bottom: 3px solid transparent
				&:hover
					background: none
					border-bottom: 3px solid #8fb603
					+media-breakpoint-down(xs)
						color: #8fb603
						border-bottom: 3px solid transparent

		.tab-block-list
			display: flex
			flex-wrap: wrap
			+media-breakpoint-down(xs)
				justify-content: center

		.tab-block-item
			max-height: 197px
			max-width: 349px
			width: calc(100% / 3 - 30px)
			margin-right: 30px
			margin-bottom: 30px
			+media-breakpoint-down(sm)
				width: calc(100% / 2 - 30px)
			+media-breakpoint-down(xs)
				width: calc(100% / 1)
				margin-right: 0
			cursor: pointer
			position: relative
			overflow: hidden
			background-color: #000000
			&:hover
				img
					filter: grayscale(100%)
					opacity: 0.5
				.tab-block-item-content
				.tab-block-item-content-title
					opacity: 1
					&:after
						transform: translateX(0)
						opacity: 1
				.tab-block-item-content-text
					transform: translateX(0)
					opacity: 1
			a
				display: block
				height: 100%
				width: 100%
				position: absolute
				z-index: 1
			img
				width: 100%
				height: 100%
				transition: all 0.5s
			&-content
				color: #ffffff
				top: 0
				left: 0
				position: absolute
				width: 100%
				font-family: Akrobat
				font-size: 1.6rem
				font-weight: 300
				padding: 5px
			&-content-title
				display: block
				color: #ffffff
				font-family: "Akrobat"
				font-size: 2.4rem
				font-weight: 300
				opacity: 0
				transition: all 0.5s ease
				&:after
					content: ''
					display: block
					width: 100%
					height: 3px
					background: #8fb603
					transition: all 1s ease
					opacity: 0
					transform: translateX(-150%)
			&-content-text
				display: block
				opacity: 0
				transition: all 1s ease
				transform: translateX(-150%)

.tab-pane.active
	animation: slide-down .5s ease-out

+keyframes(slide-down)
	0%
		opacity: 0
		transform: scale(0)
	100%
		opacity: 1
		transform: scale(1)

+keyframes(tab-left)
	0%
		left: 100%
	100%
		left: 0
