{% load flatblocks %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">

	<meta name="yandex-verification" content="31cab58b4c177bcf" />
	<meta name="google-site-verification" content="PWQ7hgeY2WH9h35dI_ttHrlrvE0v-viJrfTzPgdrs_U" />

	<title>Съемка видеороликов - Видеостудия HighLights</title>
	<meta name="description" content="Качественная видеосъемка и монтаж видео в г. Красноярск. Приветливый и интеллигентный видеограф. Любые видеоролики: реклама, клипы, свадебное видео, видео для сайта, аэросъемка, инфографика.">
	<meta name="keywords" content="видеосъемка, видеограф, видеооператор, аэросъемка, видеореклама, видеостудия">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
	<link rel="icon" href="{% static 'landing/img/favicon/favicon.ico' %}">
	<link rel="image_src" href="{% static 'landing/img/business_card.jpg' %}" >
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="{% static 'landing/css/main.min.css' %}">

	<style type="text/css">
		::-webkit-scrollbar { width: 0; }
	</style>

</head>

<body>
	{% block content %}
	<div class="feedback-form">
		<div class="feedback-form__block">
			<form id="feedback_form" method="post" action="{% url 'call' %}">
				<div class="feedback-form__block-close"></div>
				<div class="feedback-form__block-title">
					Оставьте нам свой номер <br>
					и мы вам перезвоним
				</div>
				<div class="feedback-form__main-block">
					{% csrf_token %}
					<div class="feedback-form__block-field">
						<label> Имя: </label>
						<input id="feedback_name" type="text" name="name" value="" required>
					</div>
					<div class="feedback-form__block-field">
						<label> Телефон: </label>
						<input id="feedback_phone" type="text" name="phone" value="" required>
					</div>
					<div class="feedback-form__block-submit">
						<input type="submit" value="Оставить заявку">
					</div>
				</div>
			</form>
		</div>
	</div>

	<div id="questions" class="questions">
		<div class="questions__content">
			<div class="questions__close"></div>
			<div id="title" class="questions__title">Пройди тест и получи скидку</div>
			<div id="question" class="questions__question"></div>
			<div class="progress">
			  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<div id="progress_bar" class="progress_bar__sub"></div>

			<form id="quiz" class="quize" action="{% url 'quiz' %}" method="post">
				{% csrf_token %}
				{% for question in questions %}

				{% for slider in question.slider_answer.all %}
				<!-- begin sliderbar -->
				<div class="tab" style="display: none; margin-bottom: 79px;">

					<p class="slider-title">{{ slider.description_slider }}</p>

					<div class="range-slider-block">
						<input type="text" name="{{ question }}" class="span2 range-slider" value="" data-slider-min="{{ slider.min_value }}" data-slider-max="{{ slider.max_value }}" data-slider-step="1" data-slider-value="[{{ slider.min_value }},{{ slider.max_value }}]"/>
					</div>

				</div>
				<!-- end sliderbar -->
				{% endfor %}

				{% for input in question.input_answer.all %}
				<!-- begin input -->
				<div class="tab" style="display: none; margin-bottom: 90px; margin-top: 60px;">
					<input type="text" name="{{ question }}" placeholder="{{ input.description_input }}" value=""/>
				</div>
				<!-- end input -->
				{% endfor %}

				{% if question.choice_answer.all %}
				<!-- begin radio -->
				{% if question.choice_answer.count > 6 %}
				<div class="tab form-flex clearfix" style="display: none;">
				{% elif question.choice_answer.count > 4 %}
				<div class="tab form-flex clearfix" style="display: none; margin-bottom: 70px;">
				{% elif question.choice_answer.count > 2 %}
				<div class="tab form-flex clearfix" style="display: none; margin-bottom: 110px;">
				{% else %}
				<div class="tab form-flex clearfix" style="display: none; margin-bottom: 150px;">
				{% endif %}

					{% for choice in question.choice_answer.all %}
					<div class="form-field">
						<input id="radio-{{choice.pk}}" type="radio" name="{{ question }}" value="{{ choice.choice_text }}" >
						<label for="radio-{{choice.pk}}">{{ choice.choice_text }}</label>
					</div>
					{% endfor %}
				</div>
				<!-- end radio -->
				{% endif %}

				{% endfor %}

				<!-- begin last step -->
				<div class="tab" style="display: none;">
					<div class="finish-form">
						<p class="finish-sale">Итоговая скидка: <span id='final_sale'>7%</span></p>
						<label for="inputName">Как к вам обратиться?</label>
						<input id="inputName" type="text" name="Имя" placeholder="Имя" value=""/>
						<label for="inputPhone">Номер телефона</label>
						<input id="inputPhone" type="text" name="Телефон" placeholder="+7(___)___-____" value=""/>
						<p class="raschet">Мы рассчитаем стоимость и перезвоним вам!</p>
					</div>
				</div>
				<!-- end last step -->

				<div>
					<div class="footer-block__button">
						<button type="button" id="prevBtn" onclick="nextPrev(-1)">Назад</button>
						<button style="display: block;"" type="button" id="nextBtn" onclick="nextPrev(1)">Следующий шаг</button>
					</div>
				</div>

			</form>
		</div>
	</div>

	<div class="feedback-form-sucesses">
		<div class="feedback-form-sucesses__block">
			<form id="form" action="">
				<div class="feedback-form-sucesses__block-close"></div>
				<div class="feedback-form-sucesses__main-block">
					<div class="feedback-form-sucesses__main-block-content">
						Заявка успешно отправлена
					</div>
					<div class="feedback-form-sucesses__block-submit">
						<input type="submit" value="Закрыть">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="feedback-form__placeholder"></div>

	<div class="site-header__menu">
		<div class="container">
			<div class="row position-relative justify-content-between align-items-center">
				<div class="col-sm-4 col-6">
					<div class="site-header__menu-logo">
						<a href="{% url 'index' %}">
						<img src="{% static 'landing/img/menu-logo.png' %}" alt="Логотип HighLights">
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-6">
					<div class="site-header__menu-info">
						<div class="site-header__menu-info-phone">
							<img src="{% static 'landing/img/menu-phone.png' %}" alt="телефон">
							<a href="tel:{{phone}}">{{phone}}</a>
						</div>
						<div class="site-header__menu-info-burger">
							<button class="hamburger hamburger--squeeze" type="button">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</button>
						</div>
					</div>
				</div>
				<div class="site-header-burger-content">
					<ul id="menu">
						<li data-menuanchor="main-block"><a href="#main-block">Главная</a></li>
						<li data-menuanchor="case"><a href="#case">Работы</a></li>
						<li data-menuanchor="group"><a href="#group">Клиенты</a></li>
						<li data-menuanchor="team"><a href="#team">Команда</a></li>
						<li data-menuanchor="footer"><a href="#footer">Контакты</a></li>
					</ul>
					<a href="tel:{{phone}}">{{phone}}</a>
					<a href="mailto:{{email}}">{{email}}</a>
					<div class="site-footer__info-social">
						<a class="vk" href="{{vk}}" target="_blank"></a>
						<a class="insta" href="{{instagram}}" target="_blank"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
<div id="fullpage">
	<header class="section" data-anchor="main-block">
		<div class="site-header">
			<div class="video-frame">
				{% if background.video %}
				<video data-keepplaying preload="auto" loop id="video-background" muted plays-inline data-autoplay>
					<source video-src="{{ background.video.url }}" type="video/mp4">
				</video>
				{% endif %}
			</div>
			<div class="site-header__block">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-12">
							<div class="site-header__block-child">
								<div class="site-header__block-title">
									<p>Создание&nbsp;</p>
									<ul>
										<li>имиджевых</li>
										<li>обучающих</li>
										<li>рекламных</li>
									</ul>
									<p>&nbsp;видеороликов</p>
								</div>
								<div class="site-header__block-button">
									<a id="quiz_form" class="order-phone" href="#" onclick="yaCounter49162438.reachGoal('click_get_price'); return true;">Рассчитать стоимость</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section data-anchor="offer" class="section fp-auto-height">
		{% if offer.title and offer.offer %}
		<div class="sentence">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<div class="sentence__block">

							<div class="sentence__block-title">
								{{ offer.title }}
							</div>
							<div class="sentence__block-text">
								{{ offer.offer|safe }}
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</section>

	<section data-anchor="about" class="section fp-auto-height">
		<div class="about">
			<div class="container">
				<div class="row justify-content-center">
					<div class="about__block">
						<span>Highlights</span> – лучшие кадры на стыке творчества,<br> технологий и маркетинга. На сегодняшний день нами реализовано<br> более 250 коммерческих проектов общим бюджетом более 7 миллионов рублей.
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="showreel" data-anchor="showreel" class="section fp-auto-height">
		{% if showreel.video %}
		<div class="showreel">
			<div class="showreel-iframe">
				<video style="left: 50%; margin: 0 auto; position: absolute; top: 50%; transform: translate(-50%, -50%);" data-keepplaying loop id="video-showreel" muted plays-inline>
				  <source video-src="{{ showreel.video.url }}" type="video/mp4">
				</video>
			</div>
			<img src="{% static 'landing/img/showreel-bg.png' %}" alt="showreel">
			<div class="play">
				<a data-fancybox href="{{ showreel.video.url }}"></a>
			</div>
		</div>
		{% endif %}
	</section>

	<section data-anchor="case" class="section fp-auto-height">
		<div class="case">
			<div class="case__block-title">
				Наши направления
			</div>
			<div class="case__block">
				{% for video in videocase %}
				<div class="case__block-content">
					<a data-fancybox href="{{ video.link_to_video }}"></a>
					<img src="{{ video.picture.url }}" alt="{{ video }}">
					<span>{{ video }}</span>
					<div class="case__block-content-list">
						{{ video.description|safe }}
					</div>
				</div>
				{% endfor %}

			</div>
			<div class="case__block-button">
				<a href="{% url 'portfolio' %}">Все работы</a>
			</div>
		</div>
	</section>
	<section data-anchor="help" class="section fp-auto-height">
		<div class="help">
			<div class="container">
				<div class="row">
					<div class="col-md">
						<div class="help__question">
							Еще не определились какое видео вам подходит?
						</div>
						<div class="help__questionnaire">
							<div class="help__questionnaire-text">
								Мы Вам поможем!
							</div>
							<div class="help__questionnaire-button">
								<a class="toggle-question" href="#" onclick="yaCounter49162438.reachGoal('click_fill_quiz'); return true;">Заполнить анкету</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-anchor="group" class="section fp-auto-height">
		<div class="group">
			<div class="container">
				<div class="row">
					<div class="col-md">
						<div class="group__block owl-carousel">
							{% for client in clients %}
							<div class="group__block-item">
								<img src="{{ client.picture.url }}" alt="{{ client }}"  title="{{ client }}">
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section data-anchor="team" class="section fp-auto-height">
		<div class="team">
			<div class="team__title">
				Наша команда
			</div>
			<div class="team__people">
				<div class="container">
					<div class="row">

						{% for member in team %}
						<div class="col-md-3 col-6">
							<div class="team__people-block">
								<img src="{{ member.picture.url }}" alt="{{ member }}">
								<div class="team__people-block-text">
									<div class="team__people-block-text-name">
										{{ member }}
									</div>
									<div class="team__people-block-text-position">
										{{ member.profile|safe }}
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-anchor="about1" class="section fp-auto-height">
		<div class="about">
			<div class="container">
				<div class="row justify-content-center">
					<div class="about__block">
						<span>Highlights</span> – это команда профессионалов видеопроизводства,<br> с опытом работы более 10 лет. Обращаясь к нам, вы гарантируете себе<br> качественную реализацию вашей идеи.
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer data-anchor="footer" class="section">
		<div class="site-footer">
			<img src="{% static 'landing/img/footer-bg.jpg' %}" alt="видеосъемка">
			<div class="site-footer__title"></div>
			<div class="site-footer__info">
				<div class="container">
					<div class="row justify-content-end">
						<div class="col-md-4">
							<div class="site-footer__info-text">
								Сделаем круто!
							</div>
							<div class="site-footer__info-phone">
								<a href="tel:{{phone}}">{{phone}}</a>
								<a href="mailto:{{email}}">{{email}}</a>
							</div>
							<div class="site-footer__info-button">
								<a id='feedback_phone_form' class="order-phone" href="#" onclick="yaCounter49162438.reachGoal('click_main_feedback_call'); return true;">Заказать звонок</a>
							</div>
							<div class="site-footer__info-social">
								<a class="vk" href="{{vk}}" target="_blank"></a>
								<a class="insta" href="{{instagram}}" target="_blank"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
{% endblock %}

	<script type="text/javascript" src="{% static 'landing/js/scripts.min.js' %}"></script>

	{% flatblock "widgets" %}

</body>
</html>
