{% load flatblocks %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">

	<title>Наши работы - Видеостудия HighLights</title>
	<meta name="description" content="На нашем сайте представлены основные работы по разным направлениям: реклама, клипы, свадебное видео, видео для сайта, аэросъемка, инфографика.">
	<meta name="keywords" content="видеосъемка, видеограф, видеооператор, аэросъемка, видеореклама, видеостудия">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
	<link rel="icon" href="{% static 'landing/img/favicon/favicon.ico' %}">
	<link rel="image_src" href="{% static 'landing/img/business_card.jpg' %}" >
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="{% static 'landing/css/main.min.css' %}">

	<style type="text/css">
		::-webkit-scrollbar { width: 0; }		
	</style>
</head>

<body class="works">
	<div class="feedback-form">
		<div class="feedback-form__block">
			<form id="feedback_form" method="post" action="{% url 'call' %}">
				<div class="feedback-form__block-close"></div>
				<div class="feedback-form__block-title">
					Оставьте нам свой номер <br>
					и мы вам перезвоним
				</div>
				<div class="feedback-form__main-block">
					{% csrf_token %}
					<div class="feedback-form__block-field">
						<label> Имя: </label>
						<input id="feedback_name" type="text" name="name" value="" required>
					</div>
					<div class="feedback-form__block-field">
						<label> Телефон: </label>
						<input id="feedback_phone" type="text" name="phone" value="" required>
					</div>
					<div class="feedback-form__block-submit">
						<input type="submit" value="Оставить заявку">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="feedback-form-sucesses">
		<div class="feedback-form-sucesses__block">
			<form id="form" action="">
				<div class="feedback-form-sucesses__block-close"></div>
				<div class="feedback-form-sucesses__main-block">
					<div class="feedback-form-sucesses__main-block-content">
						Форма успешно отправлена
					</div>
					<div class="feedback-form-sucesses__block-submit">
						<input type="submit" value="Ок">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="feedback-form__placeholder"></div>

	<div class="site-header__menu">
		<div class="container">
			<div class="row position-relative justify-content-between align-items-center">
				<div class="col-sm-4 col-6">
					<div class="site-header__menu-logo">
						<a href="{% url 'index' %}">
						<img src="{% static 'landing/img/menu-logo.png' %}" alt="Логотип HighLights">
						</a>
					</div>
				</div>
				<div class="col-sm-6 col-6">
					<div class="site-header__menu-info">
						<div class="site-header__menu-info-phone">
							<img src="{% static 'landing/img/menu-phone.png' %}" alt="телефон">
							<a href="tel:{{phone}}">{{phone}}</a>
						</div>
						<div class="site-header__menu-info-burger">
							<button class="hamburger hamburger--squeeze" type="button">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</button>
						</div>
					</div>
				</div>
				<div class="site-header-burger-content">
					<ul id="menu">
						<li data-menuanchor="main-block"><a href="{% url 'index' %}#main-block">Главная</a></li>
						<li data-menuanchor="case"><a href="{% url 'index' %}#case">Работы</a></li>
						<li data-menuanchor="group"><a href="{% url 'index' %}#group">Клиенты</a></li>
						<li data-menuanchor="team"><a href="{% url 'index' %}#team">Команда</a></li>
						<li data-menuanchor="footer"><a href="{% url 'index' %}#footer">Контакты</a></li>
					</ul>
					<a href="tel:{{phone}}">{{phone}}</a>
					<a href="mailto:{{email}}">{{email}}</a>
					<div class="site-footer__info-social">
						<a class="vk" href="{{vk}}" target="_blank"></a>
						<a class="insta" href="{{instagram}}" target="_blank"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<header>
		<div class="site-header">
			<div class="site-header__block h-100">
				<div class="container h-100">
					<div class="row h-100 justify-content-center">
						<div class="col-md-8">
							<div class="site-header__block-child">
								<div class="site-header__block-title">
									<p>Портфолио</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	{% block content %}
	<section id="work-full">
		<div class="work-full">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="work-full__block">
							<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="pill" aria-selected="true" style="cursor: pointer;" data-filter="all">все</a>
								</li>
								{% for type in typevideo %}
								<li class="nav-item">
									<a class="nav-link" data-toggle="pill" aria-selected="false" style="cursor: pointer;" data-filter=".video-{{type.pk}}">{{type.name}}</a>
								</li>
								{% endfor %}
								
							</ul>

							<div class="tab-content">
								<div class="tab-block-list" data-ref="mixitup-container">

									{% for v in video %}
									<div class="tab-block-item 
									{% for types in v.type_video.all %}
									video-{{ types.pk }} 
									{% endfor %}
									" data-ref="mixitup-target">
										<a data-fancybox href="{{ v.link_to_video }}"></a>
										<img src="{{ v.picture.url }}" alt="{{ v }}">
										<div class="tab-block-item-content">
											<span class="tab-block-item-content-title">
												{{ v }}
											</span>
											<span class="tab-block-item-content-text">
												{{ v.description }}
											</span>
										</div>
									</div>
									{% endfor %}
									

								</div>
							</div>

							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}
	<footer>
		<div class="site-footer">
			<div class="site-footer__title">
				Обращайтесь, мы ответим на все вопросы
			</div>
			<div class="site-footer-button">
				<a id="feedback_phone_form" class="order-phone" href="" onclick="yaCounter49162438.reachGoal('click_portfolio_feedback_call'); return true;">Заказать звонок</a>
			</div>
		</div>
	</footer>

	<script src="{% static 'landing/js/scripts.min.js' %}"></script>

	{% flatblock "widgets" %}

</body>
</html>
